<%= simple_form_for @dinner do |form| %>
    <%= form.input :dinner_date, as: :date, start_year: Date.today.year - 120,
                              end_year: Date.today.year + 10,
                              order: [:day, :month, :year] %>

   
    <!--New Recipes-->

      <h3>Recipes</h3>
      <div>
        <%= form.nested_fields_for :dinner_recipes do |ff| %>
          <div class="flex-input">
            <%= ff.input :recipe_id, collection: @recipes, label: false, placeholder: "Burger" %>
            <%= ff.remove_nested_fields_link do %>
              <i class="fa fa-times circle-icon circle-icon-red"></i>
            <% end %>
            
          </div>
        <%end%>
        <%= form.add_nested_fields_link :dinner_recipes do %>
          <i class="fa fa-plus circle-icon circle-icon-blue"></i> Add a recipe
        <% end %>
      </div>
    <!--New Guests-->

      <h3>Guests</h3>
        <div class="flex-form-container">
          <%= form.add_nested_fields_link :dinner_guests do %>
            <i class="fa fa-plus circle-icon circle-icon-blue"></i>
          <% end %>

          <%= form.nested_fields_for :dinner_guests do |ff| %>
            <div class="flex-input">
              <%= ff.input :guest_id, collection: @guests, label: false, placeholder: "John Doe", :label_method => lambda { |guest| "#{guest.first_name} #{guest.last_name}" } %>
              <%= ff.remove_nested_fields_link do %>
                <i class="fa fa-times circle-icon circle-icon-red"></i>
              <% end %>
            </div>
          <%end%>
        </div>


    <%= form.button :submit, class: "btn btn-primary", method: :post %>
    <%= link_to "Cancel", dinners_path, class:"btn btn-default" %>
<% end %>
