<%= simple_form_for @dinner do |form| %>
    <%= form.input :dinner_date, as: :date, start_year: Date.today.year - 120,
                              end_year: Date.today.year + 10,
                              order: [:day, :month, :year] %>

   
    <!--New Recipes-->
    <ul class="list-inline">  
      <h3>Recipes</h3>
      
        <%= form.add_nested_fields_link :dinner_recipes do %>
          <i class="fa fa-plus-circle"></i>
        <% end %>
      
      <li>
        <%= form.nested_fields_for :dinner_recipes do |ff| %>
          <li><%= ff.remove_nested_fields_link do %>
            <i class="fa fa-times remove-field"></i>
          <% end %></li>
          <li><%= ff.input :recipe_id, collection: @recipes, label: false, placeholder: "Burger" %></li>
        <%end%>
      </li>
    </ul>
    
    <!--New Guests-->
    <ul class="list-inline">  
      <h3>Guests</h3>
      
        <%= form.add_nested_fields_link :dinner_guests do %>
          <i class="fa fa-plus-circle"></i>
        <% end %>
      
      <li>
        <%= form.nested_fields_for :dinner_guests do |ff| %>
          <li><%= ff.remove_nested_fields_link do %>
            <i class="fa fa-times remove-field"></i>
          <% end %></li>
          <li><%= ff.input :guest_id, collection: @guests, label: false, placeholder: "John Doe", :label_method => lambda { |guest| "#{guest.first_name} #{guest.last_name}" } %></li>
        <%end%>
      </li>
    </ul>

    <%= form.button :submit, class: "btn btn-primary", method: :post %>
    <%= link_to "Cancel", dinners_path, class:"btn btn-default" %>
<% end %>
