<h1> All guests </h1>

<% @dinners.each do |dinner| %>
  <div class="product">
    <div class='product-upvote'>
      <div class="product-arrow"></div>
      <div class='product-count'>0</div>
    </div>
    <div class='product-body'>
      <h3><%= link_to dinner.dinner_date, dinner_path(dinner) %></h3>
      <p><%= dinner.recipe.name + " with " + dinner.guest.first_name + " " + dinner.guest.last_name%></p>
    </div>
    <ul class="list-inline product-controls hidden-sm hidden-xs">
      <li>
        <%= link_to dinner_path(dinner) do %>
          <i class="fa fa-eye"></i>
        <% end %>
      </li>
      <li>
        <%= link_to edit_dinner_path(dinner) do %>
          <i class="fa fa-pencil"></i>
        <% end %>
      </li>
      <li>
        <%= link_to dinner_path(dinner), method: :delete do %>
          <i class="fa fa-trash"></i>
        <% end %>
      </li>
    </ul>
  </div>
<% end %>
